# Backend API Base URL
# Development: http://localhost:5000/api
# Production: https://mini-social-post-application-7sqd.onrender.com
VITE_API_URL=https://mini-social-post-application-7sqd.onrender.com
